:root{
  /* Define a palette */
  --color-primary: #545F66;
  --color-secondary: #829399;
  --color-text: #D0F4EA;
  --color-background-primary: #E8FCC2;
  --color-background-secondary: #B1CC74;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
}

/* Grid/Flex Classes */
.DataVis{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 230px auto;

  height: 100vh;

  /* Container colors unless overwritten */
  color: var(--color-text);
  background-color: var(--color-secondary);
}

/* Chosen for when the buttons wrap - note, this is a pain in the ass to maintain. Also, note the screen sizes are right as long as the buttons don't change styling. Or positioning. */
/* Is there a better way? Probably with JS */
@media screen and (max-width: 1861px) { .DataVis { grid-template-rows: 250px auto; } }
@media screen and (max-width: 972px) { .DataVis { grid-template-rows: 270px auto; } }
@media screen and (max-width: 639px) { .DataVis { grid-template-rows: 290px auto; } }
@media screen and (max-width: 527px) { .DataVis { grid-template-rows: 310px auto; } }

.DataVis-title{
  grid-row: 1;
  grid-column: 1 /span 3;
  background-color: var(--color-primary);
  padding-left: 10%;
}

.DataVis-title-buttonbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.DataVis-title-buttonbar-button{
  width: 50px;
  color: var(--color-background-secondary);
  background-color: var(--color-background-primary);
}

.DataVis-title-buttonbar-button--toggle{
  color: var(--color-background-primary);
  background-color: var(--color-background-secondary);
}

.DataVis-content{
  grid-row: 2;
  grid-column: 2;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-top: 50px;
  padding-bottom: 50px;
}

.DataVis-content-bar{
  padding: 7px;
  margin: 5px;
  color: var(--color-background-secondary);
  background-color: var(--color-background-primary);

  transition: box-shadow 0.3s;

  min-height: 10%;
}

.DataVis-content-bar:nth-of-type(even){
  color: var(--color-background-primary);
  background-color: var(--color-background-secondary);
}

.DataVis-content-bar:hover{
  box-shadow: 5px 5px var(--color-text);
}